@media screen and(max-width:767px){
    .hero-search-wrap .form-control{
        width: auto;
    }

    .navbar .container{
        justify-content: center;
    }

    .hero-search-wrap {
        width: auto;
    }
}